body {
  background: #ddd;
}
/* Navigation */
.navbar{
background-color: #6351ce;
}
.navbar-nav a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}
.navbar-nav a:hover{
   
    color: #fff;
    font-weight: bold;
    transition: ease-in .3s;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  font-size: 18px;
  width: 60%;
  margin: auto;
  line-height: 1.9;
}
.carousel-caption a {
  text-transform: uppercase;
  background: #6351ce;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 15px;
}
.carousel-caption a:hover{
    background: #fff;
    color: #6351ce;
}
@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }
}
/* About Section */
.about-section{
    background: -webkit-linear-gradient(left, #00c6ff, #0072ff);
    padding: 20px;
}
.about-section .section-header h2{
    color: #fff;
}
.abt-img {
  text-align: center;
}
.abt-img img {
  padding: 4px;
  max-width: 100%;
  border-radius: 8px;
}
/* Services Section */

.section-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
.section-header p {
  font-size: 18px;
}
.single-service {
  border: 1px solid #ebebeb;
  text-align: center;
  background: #fff;
}
.service-bg {
  height: 200px;
  position: relative;
}
.service-bg-1 {
  background: url(../img/services/svc5.jpg);
  background-size: cover;
  background-position: center;
}
.service-bg-2 {
  background: url(../img/services/svc2.jpg);
  background-size: cover;
  background-position: center;
}
.service-bg-3 {
  background: url(../img/services/svc3.jpg);
  background-size: cover;
  background-position: center;
}
.service-bg-4 {
  background: url(../img/services/svc3.jpg);
  background-size: cover;
  background-position: center;
}
.service-bg h2 {
  color: #fff;
  background: #007bff;
  border: 1px solid #007bff;
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  padding: 15px;
  position: absolute;
  left: 8%;
  width: 84%;
  margin: 0;
  bottom: -25px;
  border-radius: 50px;
  letter-spacing: 2px;
}
.single-service:hover .service-bg h2 {
  background: #fff;
  transition: 0.9s;
  color: #007bff;
}
.service-text {
  padding: 50px 30px 20px;
  font-size: 15px;
  font-weight: 400;
}
.service-text p:last-child {
  margin: 0;
  line-height: 1.8;
}
.btn-area {
  display: inline-block;
  color: #333;
  font-size: 17px;
  font-weight: 700;
  margin-top: 30px;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) {
  .single-service {
    margin-top: 30px;
  }
  .service-bg h2 {
    font-size: 13px;
  }
}
/* Gallery */

/* Contact */
.contact-section{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
   
}
.contact-section h2{
    text-align: center;
    color: #fff;
    margin-top: 5px;
    padding: 20px;
}
.contact-form{
    background: #fff;
    margin-top: 2%;
    margin-bottom: 0;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* Social Media Icons */
.social-icon-wrapper{
    background-color: #6351ce ;
    padding: 10px 0;
    color: #fff;
}
.footer-copyright{
    background-color: #6351ce;
    color: #fff;
}
.col-md-3 img{
    width: 100px;
    height: 100px;
}
#scrollUp {
    width: 50px;
    height: 50px;
    background-color: #0062cc;
    color: #fff;
    right: 20px;
    bottom: 60px;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    z-index: 9811 !important;
}
@media only screen and (max-width: 767px) {
    #scrollUp {
      width: 40px;
      height: 40px; } }
  #scrollUp i {
    display: block;
    line-height: 50px;
    font-size: 22px; }
    @media only screen and (max-width: 767px) {
      #scrollUp i {
        line-height: 40px;
        font-size: 16px; } }
  #scrollUp:hover i {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; }
